{% extends 'base.html.twig' %}

{% block body %}

    <div style="height: 50px"></div>

    <div class="bg-white rounded shadow mt-3">
        <div class="d-flex py-3 border-1 border-bottom border-gray position-relative align-items-center">
            <div class="col-6 px-4">
                <span class="fw-bold">Français</span>
            </div>
            <div class="col-6 px-4">
                <span class="fw-bold">Language Schtroumpf</span>
            </div>
            <div class="position-absolute top-50 start-50 translate-middle">
                <img src="/assets/arrows.svg" alt="To" style="width: 20px; aspect-ratio: 20/21"/>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-12 col-md-6 border-end border-bottom border-1 border-gray">
                <textarea style="min-height: 200px;" id="sentence_input" class="textarea-reset w-100 ps-4 pe-5 py-4 fs-5" maxlength="1000">Sauf erreur, nous n’avons pas eu de réponse concernant le problème relevé hier matin.</textarea>
                <div class="px-2 mb-2">
                    <button class="btn" id="btn_random">
                        <img src="/assets/dice.svg" alt="Random" style="width: 26px; aspect-ratio: 26/21"/>
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div style="min-height: 200px;" class="w-100 ps-4 pe-5 py-4">
                    <span id="sentence_output" class="fs-5"></span>
                    <div class="spinner-grow spinner-grow-sm " role="status" id="spinner" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const SENTENCES_EXAMPLES = {{ sentences_examples|json_encode|raw }}
    </script>
{% endblock %}

